<%= button_to "Create New Timesheet Entry", { :action => "new" }, :method => :get %>
<h2>Timesheet Entries</h2>

<% @timesheet_entries.each do |entry| %>
  <p><%= "#{TimesheetHelper.format_date(entry.date)}
         #{TimesheetHelper.format_time(entry.start_time)}
         #{TimesheetHelper.format_time(entry.finish_time)}
         $#{TimesheetHelper.calculate_entry_amount(entry)}" %></p>
<% end %>